.carousel-item {
  height: 50rem;
}

.primary-btn {
  background: #e49758;
  color: #1b1b1b;
  padding: 0.1rem 2rem;
  font-size: 1.7rem;
  border: 1px solid #6246ea;
  border-radius: 0.5rem;
  transition: 0.5s;
}

.primary-btn:hover {
  background: #d1d1e9;
  color: black;
}
