.carousel-item img {
  filter: grayscale(70%);
  height: 50rem;
}

@media only screen and (max-width: 768px) {
  .carousel-item img {
    height: 100%;
  }
}

.primary-btn {
  background: #e49758;
  color: #1b1b1b;
  padding: 0.1rem 2rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  transition: 0.5s;
  border: none;
}

.primary-btn:hover {
  background: #d1d1e9;
  color: black;
  outline: 1px solid blue;
}

.third-title {
  font-weight: 300;
}
